{% extends 'index.html' %}
{% block content %}
    <div class="bosses">
        {% for i in list %}
            <div class="{{ i }}">
                <h2>   
                    <p> {{ i }} <input type="checkbox" id="{{ i }}" name="boss" value="{{ i }}"> </p>
                </h2>
            </div>
        {% endfor %}
        <input type="button" id="button" onclick="location.href=`./players_selection`;" value="Submit">
        <script>
            const button = document.querySelector('#button');
            button.addEventListener('click', (event) => {
                let checkboxes = document.querySelectorAll('input[name="boss"]:checked');
                let values = [];
                checkboxes.forEach((checkbox) => {
                    values.push(checkbox.value);
                })
                sessionStorage.setItem("bosses_name", values)
            })
        </script>
    </div>
{% endblock %}