{% extends "index.html" %}
{% load django_bootstrap5 %}
{% block title %}Add player{% endblock title %}

{% bootstrap_messages %}
{% block content %}
    <div class="container">
        <div class="col-md-12">
            <form action="" method="post" class="form">
                {% csrf_token %}
                {% bootstrap_form form layout="horizontal" %}
                {% bootstrap_button button_type="submit" content="Submit" %}
            </form>
        </div>
    </div>
{% endblock content %}